*{
	box-sizing: content-box;
}

.header{
	height: 80px;
	background-color: #90A410;
	box-shadow: 1px 1px 1px 1px #B9BD96;
}

.title_heading{
	text-decoration: none;
	font-size: 30px; 
	float: left;
	margin-left: 30px;
	margin-top: 15px;
}

.title_heading:hover{
	text-shadow: 1px 1px 1px 1px #E6D0D0;
}

.title_heading:hover{
	text-decoration: none;
}

.search{
	margin-top: 13px;
	margin-left: 20px;
	width: 450px;
	height: 40px;
	opacity: .7;
	background-color: #CEF592;
	border-radius: 5px;
	float: left;
}

.left_tab{
	background-color: #D2D4C6;
	height: 100%;
	width: 220px;
	overflow-y: scroll;
	float: left;
}

.tab_common:hover{
	cursor: pointer;
	background-color: #A1A297;
}

.tab_common{
	height: 50px;
	padding-top: 10px;
}

.last_tab{
	font-size: 10px;
	visibility: .2;
}

.notes_display,.remainder_display,.label_display,.archive_display,.trash_display,.setting_display{
	float: left;
}

.div_notes{
	margin-left: 200px;
	box-shadow: 1px 1px 1px 1px #460000;
	width: 350px;
}

.done{
	float: right;
	cursor: pointer;
}

.checkbox{
	float: right;
	margin-right: 20px;
	cursor: pointer;
	position: relative;
}

.done:hover{
	cursor: pointer;
}

.checkbox:hover{
	cursor: pointer;
}

.notes_display{
	margin-top: 20px;
	position: relative;
}

.input{
	outline: 0px solid transparent;
	font-size: 20px;
	font-family: cursive;
}

.store_div{
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

.storing_div{
	float: left;
	width: 200px;
	box-shadow: 1px 1px 1px 1px #B2B8A8;
	margin-right: 20px;
	padding: 10px;
	font-size: 24px;
	font-family: cursive;	
	position: relative;
}

.star{
	float: right;
}

.star:hover{
	cursor: pointer;
}

.append_div{
	width: 120px;
	padding: 5px;
	text-align: center;
	box-shadow: 1px 1px 1px 1px #E9EBE6;
	position: absolute;
	left:370px;
	top:30px;
}

.append_div:hover{
	background-color: #D7DCD0;
	cursor: pointer;
}

.delete_div{
	width: 100px;
	height: 30px;
	text-align: center;
	font-size: 15px;
	bottom:-30px;
	right:0px;
	position: absolute;
	box-shadow: 1px 1px 1px 1px #E9EBE6;
}

.delete_div:hover{
	background-color: #D7DCD0;
	cursor: pointer;
}