*{
	box-sizing: content-box;
}

.header{
	height: 80px;
	background-color: #90A410;
	box-shadow: 1px 1px 1px 1px #B9BD96;
}

.title_heading{
	text-decoration: none; 
	float: left;
	margin-left: 30px;
	margin-top: 15px;
	font-size: 25px;
}

.title_heading:hover{
	text-shadow: 5px 3px 4px 4px #E6D0D0;
}

.title_heading:hover{
	text-decoration: none;
}

.search{
	margin-top: 13px;
	margin-left: 20px;
	width: 450px;
	height: 40px;
	opacity: .7;
	background-color: #CEF592;
	border-radius: 5px;
	float: left;
}

.left_tab{
	background-color: #D2D4C6;
	height: 100%;
	width: 220px;
	overflow-y: scroll;
	float: left;
}

.tab_common:hover{
	cursor: pointer;
	background-color: #A1A297;
}

.tab_common{
	height: 50px;
	padding-top: 10px;
}

.last_tab{
	font-size: 10px;
	visibility: .2;
}

.notes_display,.remainder_display,.label_display,.archive_display,.trash_display,.setting_display{
	float: left;
}

.div_notes{
	margin-left: 200px;
	box-shadow: 1px 1px 1px 1px #460000;
	width: 350px;
}

.done{
	padding-right: 5px;
	padding-bottom: 5px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
	opacity: .7;
	float: right;
	cursor: pointer;
}

.checkbox{
	float: right;
	font-family: sans-serif;
	font-weight: bold;
	opacity: .7;		
	cursor: pointer;
	position: relative;
	margin-right: 15px;
	bottom: 10px;
	font-size: 20px;
}

.done:hover{
	cursor: pointer;
}

.checkbox:hover{
	cursor: pointer;
}

.notes_display{
	margin-top: 20px;
	position: relative;
}

.input{
	outline: 0px solid transparent;
	font-size: 20px;
	font-family: cursive;
}

.store_div{
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	float: left;
}

.storing_div{
	float: left;
	width: 200px;
	box-shadow: 1px 1px 1px 1px #B2B8A8;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 24px;
	font-family: cursive;	
	position: relative;
}

.star{
	float: right;
}

.star:hover{
	cursor: pointer;
}

.append_div{
	background-color: #DBF7B0;
	width: 120px;
	padding: 5px;
	text-align: center;
	box-shadow: 1px 1px 1px 1px #E9EBE6;
	position: absolute;
	left:380px;
	top:50px;
}

.append_div:hover{
	background-color: #D7DCD0;
	cursor: pointer;
}

.delete_div{
	padding-top: 5px;
	width: 100px;
	height: 30px;
	text-align: center;
	font-size: 15px;
	bottom:-30px;
	right:0px;
	position: absolute;
	box-shadow: 1px 1px 1px 1px #E9EBE6;
}

.delete_div:hover{
	background-color: #D7DCD0;
	cursor: pointer;
}

.storing_div:hover{
	cursor: pointer;
	box-shadow: 2px 2px 2px 2px #939590;
}

.model{
	display: none;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	top: 0px;
	left: 0px;
}

.model_content{
	display: none;
	background-color: white;
	/*border: 1px solid black;*/
	margin: 15% auto;
	width: 60%;
	padding: 12px;
	border-radius: 5px;
	padding-top: 50px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	font-family: cursive;
	font-size: 20px;
	position: relative;
}

.close{
	position: absolute;
	top: 5px;
	right: 5px;
	margin-right: 5px;
	float: right;

}

.popup_done{
	position: absolute;
	float: right;
	bottom: 0px;
	right: 0px;
	margin-right: 50px;
	margin-bottom: 5px;
	margin-top: 25px;
	font-size: 15px;
	cursor: pointer;
}

.model_content_div{
	text-decoration: none;
	outline: 0px solid transparent;
}

.span_type{
	float: right;
	cursor: pointer;
}

.span_type:hover{
	color: red;
}

.main_div{
	margin-left: 5px;
	margin-right: 5px;
}

.checkbox_type{
	cursor: pointer;
}